output
instant_test_output
inference_test_output


*.jpg
*.png
*.txt
*.json
*.diff

__pycache__
_ext
*.pyc
*.so
detectron2.egg-info/
build/
dist/
wheels/

*.pth
*.pkl
*.npy

*.ipynb
**/.ipynb_checkpoints/

*.swn
*.swo
*.swp
*~

.idea
.vscode

/detectron2/model_zoo/configs
/datasets
/projects/*/datasets
/models
